<header>
    <nav>
        <a href="/">Website</a>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">New Author</a>
            </li>
            <li>
                <a href="/books">Books</a>
            </li>
            <li>
                <a href="/books/new">New Book</a>
            </li>
        </ul>
        <button id="menu-btn">Menu</button>
    </nav>
</header>
<dialog id="menu">
    <a href="/">
        <h1>Website</h1>
    </a>
    <a class="menu-item" href="/authors">Authors</a>
    <a class="menu-item" href="/authors/new">New Author</a>
    <a class="menu-item" href="/books">Books</a>
    <a class="menu-item" href="/books/new">New Book</a>
</dialog>