<% books.forEach(book => {%>
    <div><%- book.title%></div>
    <a href="/books/<%- book.id %>">
        <img width="500px" src="<%- book.coverImagePath  %>">
    </a>
    <div><%- book.publishDate %></div>
<% }); %>