
<div id="books">
    <% books.forEach(book => {%>
        <div class="book">
            <a href="/books/<%- book.id %>">
                <img width="500px" src="<%- book.coverImagePath  %>">
            </a>
        </div>
    <% }); %>
</div>