main {
    margin: 1rem;
    h2 {
        text-align: center;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        * {
            font-size: 1rem;
        }

        input {
            box-sizing: border-box;
            display: block;

            width: 100%;

            padding: .75em;

            border: 1px solid #000;
            border-radius: .5em;

            font-size: 1rem;
        }

        button{
            grid-column: 1 / 3;
        }
    }

    .book{
        margin-top: 1rem;
        a {
            img {
                max-width: 100%;

                border-radius: .5rem;
            }
        }
    }
}