<main>
    <h1>Edit Author</h1>
    <form action="/authors/<%- author.id %>?_method=PUT" method="POST">
        <%- include("_form_fields.ejs") %>
        <div class="buttons">
            <button type="submit" class="btn primary">Update</button>
            <a href="/authors/<%- author.id %>" class="btn secondary">Go Back</a>
        </div>
    </form>
</main>